@font-face {
  font-family: 'btheme';
  src:  url('../../fonts/btheme.eot?j1dvev');
  src:  url('../../fonts/btheme.eot?j1dvev#iefix') format('embedded-opentype'),
    url('../../fonts/btheme.ttf?j1dvev') format('truetype'),
    url('../../fonts/btheme.woff?j1dvev') format('woff'),
    url('../../fonts/btheme.svg?j1dvev#btheme') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="btheme-"], [class*=" btheme-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'btheme' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btheme-desktop:before {
  content: "\e900";
}
.btheme-drawing:before {
  content: "\e901";
}
.btheme-bar-chart:before {
  content: "\e902";
}
.btheme-mega-phone:before {
  content: "\e903";
}
.btheme-cloud-computer:before {
  content: "\e904";
}
.btheme-smart-phone:before {
  content: "\e905";
}
.btheme-light-bulb:before {
  content: "\e906";
}
.btheme-transfer:before {
  content: "\e907";
}
.btheme-video-camera:before {
  content: "\e908";
}
